/* ----------------------- Header a footer ----------------------- */

/* ----------------------- Rozloženie ----------------------- */

/* ----------------------- Zaluby ----------------------- */
.zaluby-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 80px 40px 120px 40px;
}

/* ----------------------- Zmeny ----------------------- */
.zmeny-columns {
  grid-template-columns: 1fr;
  gap: 16px;
}
.zmeny-item {
  grid-template-columns: auto 1fr;
}
