/* ----------------------- Rozloženie (Index page) ----------------------- */

.hero-image img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
}

.image-pozadie {
  display: none;
}

.clenovia-flex {
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
}

/* ----------------------- Zaluby ----------------------- */
.zaluby-grid {
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 40px 20px 80px 20px;
}
.zaluby-main h2 {
  font-size: 2rem;
}

/* ----------------------- Zmeny ----------------------- */
.zmeny-hero .zmeny-wrap {
  padding: 40px 16px 30px;
}
