/* ----------------------- Header a footer ----------------------- */

/* ----------------------- Rozloženie ----------------------- */

/* ----------------------- Zaluby ----------------------- */

/* ----------------------- Zmeny ----------------------- */
.zmeny-columns {
  grid-template-columns: 1fr;
  gap: 16px;
}
.zmeny-item {
  grid-template-columns: auto 1fr;
}
