/* ----------------------- CSS Reset (Nie je potrebné upravovať) ----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background-color: #fdf7f4;
  min-height: 100vh;
}

body::before {
  content: "";
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/background.png");
  opacity: 0.3;
}

/* ----------------------- Header a footer ----------------------- */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color: #fdf7f4;
  font-family: "Asul", sans-serif;
}

.logo {
  color: #f8bfa5;
  font-size: 26px;
  text-decoration: none;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f8bfa5;
}

/* hamburger menu */
.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  width: 30px;
  height: 24px;
  position: relative;
  overflow: visible;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #1e1e1e;
  border-radius: 3px;
  transition: all 0.3s ease;
  transform-origin: center;
}

/* анимация в крестик */
.menu-icon.open span:nth-child(1) {
  transform: translateY(10px) rotate(45deg) translatex(-3px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg) translateX(-4px);
}



/* ----------------------- Footer ----------------------- */

.main-footer {
  background-color: #f8bfa5;
  color: #fff;
  padding: 40px 80px;
  font-family: "Asul", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.footer-left {
  font-size: 26px;
  color: #fff;
}

.footer-right {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.footer-right div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-right a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: opacity 0.3s;
}

.footer-right a:hover {
  opacity: 0.8;
}

.footer-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #fff;
  padding: 30px;
}

.footer-bottom p {
  margin: 0;
  font-size: 16px;
  color: #fff;
}

/* responzivita footera */
@media (max-width: 850px) {
  .main-footer {
    padding: 30px 25px;
    text-align: center;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .footer-right {
    align-items: center;
    gap: 5px;
  }

  .footer-bottom {
    text-align: center;
  }

  .footer-bottom p {
    font-size: 0.8rem;
  }
}
/* ----------------------- Rozloženie ----------------------- */

/* ----------------------- Zaluby ----------------------- */

/* ----------------------- Zmeny ----------------------- */
